img{
    width: 20%;
}
a{
    color: rgb(6, 105, 6);
    text-decoration: none;
}
ul{
    list-style-type: none;
}
header{
    text-align: center;
}
html{
    border: 5px solid green;
    color: white;
    background: rgb(92, 150, 173);
    margin: 3em;
    padding: 2em;
    font-size: 1.2em;
}
section{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    justify-content: center;
}
li{
    margin:0.5em;
}